VITE_SPOTIFY_CLIENT_ID=ton_client_id_spotify

# Développement local
VITE_REDIRECT_URI=http://127.0.0.1:5173/callback

# Production (décommenter après déploiement Vercel)
# VITE_REDIRECT_URI=https://ton-app.vercel.app/callback
